@import url(./style.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}
a{
  text-decoration-line: none;
}
ul {
  margin: 0;
  padding: 0;
}

.site-header {
  width: 100%;
}

.nav-menu {
  width: 100%;
  height: 4.5rem;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem 7.5%;
  background-color: #fff;
  position: fixed;
  transition: box-shadow 0.3s ease;
  z-index: 100;
}
.navbar-shadow {
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.1);
}
.nav-respo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-size: 1.5rem;
  font-weight: bold;
}
.menus {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  list-style-type: none;
  a {
    color: #333;
    font-weight: 500;
    padding: 0.5rem;
    /* border: 2px solid; */
    border-radius: 10px;
    &:hover {
      background-color: #054997;
      color: #fff;
    }
  }
}
.showProfile {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.user-profile {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 1.5;
  color: #000;
  border-radius: 1rem;
  padding: 0.5rem;
  margin-top: 0.4rem;
  &:hover {
    background-color: #054997;
    color: #fff;
  }
}

.fa-user {
  font-size: 1.2rem;
}

.search-bar {
  padding: 0.5rem;
  border-radius: 20px;
  border: 1px solid #ccc;
  outline-color: #f44336;
  &:hover {
    border-color: #054997;
  }
}

.search-icon {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.cart {
  position: relative;
}

.cart-icon {
  font-size: 1.5rem;
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.counter {
  position: absolute;
  top: -8px;
  right: -8px;
  background: red;
  color: #fff;
  font-size: 0.75rem;
  padding: 2px 6px;
  border-radius: 50%;
}

.hamburger {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.hero-section {
  width: 100%;
  margin-top: 4rem;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 70dvh;
  background: linear-gradient(to right, #141e30, #054997);
  color: white;
  padding: 2rem;
}
.hero-content {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.hero-content h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.hero-content p {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.shop-btn {
  background-color: red;
  color: white;
  padding: 0.75rem 2rem;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
}

.shop-btn:hover {
  background-color: #ff6f61;
  transform: scale(1.05);
  color: white;
  text-decoration: none;
}
.items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 1rem 7.5%;
  gap: 2rem;
}

.item {
  display: flex;
  justify-content: center;
  position: relative;
  border: 1px solid #333;
  border-radius: 1rem;
  text-align: center;
  padding-block: 1rem;
  animation: doup 1.5s forwards;
  opacity: 0.7;

  &:hover {
    transition: all 0.5s ease-in-out;
    transform: scale(0.95);
    opacity: 1;
    box-shadow: 0 0 10px;
  }
}
@keyframes doup {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 0;
  }
}
.item-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image-cartBtn {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 100%;
  }
}
.item-img {
  border-radius: 1rem;
  transition: transform 0.5s ease-in-out;
  width: 50%;
}
.item-img:hover {
  transform: scale(1.05);
}
.cart-btn {
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  cursor: pointer;
  position: relative;
  font-size: 18px;
  color: white;
  background-color: red;
  overflow: hidden;
  transition: color 0.5s ease;
  &:hover {
    transition: all 0.5s ease-in-out;
    /* transform: scale(1.2); */
  }
}
.cart-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background-color: #054997;
  border-radius: 1rem;
  transform: translate(-50%, -50%);
  transition: width 0.5s ease, height 0.5s ease;
  z-index: 0;
}

.cart-btn:hover::before {
  width: 100%;
  height: 100%;
}

.cart-btn span {
  position: relative;
  z-index: 1;
}
.item-title {
  width: 100%;
  margin: 1rem 0 0.5rem;
}
.footer {
  width: 85%;
  margin-inline: auto;
}
