* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.prod-cont {
  width: 100%;
  padding-inline: 7.5%;
  margin-top: 5rem;
}

.card {
  min-height: 200px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.custom-border-end {
  border-right: 3px solid #054997;
}

.item-img {
  max-height: 200px;
  object-fit: contain;
  width: 100%;
}

@media (max-width: 767px) {
  .custom-border-end {
    border: none;
  }
}
