@media (max-width: 768px) {
  .nav-menu {
    display: none;
    position: absolute;
    top: 4rem;
    left: 7.5%;
    width: 85%;
    height: auto;
    background: white;
    justify-content: center;
    border-top: 1px solid #ccc;
    border-radius: 0 0 10px 10px;
  }
  .nav-menu.open {
    display: flex;
  }

  .hamburger {
    display: block;
  }
  .menus {
    flex-direction: column;
  }

  .hero-content h1 {
    font-size: 2rem;
  }

  .hero-content p {
    font-size: 1rem;
  }

  .cta-button {
    width: 100%;
    font-size: 1rem;
  }
}

@media (max-width: 500px) {

  .search-item {
    display: none;
    position: absolute;
    top: 4rem;
    left: 0;
    width: 100%;
    justify-content: center;
  }
  .search-bar {
    width: 70%;
    padding-left: 15px;
  }

  .search-item.open {
    display: flex;
  }

  .search-icon {
    display: block;
  }
}
