@media (max-width: 1025px) {
  #itemShow {
    grid-template-columns: auto auto;
  }
}
@media (max-width: 940px) {
  .nav-respo {
    display: none;
    position: absolute;
    top: 4.5rem;
    left: 0;
    width: 100%;
    height: auto;
    background: white;
    justify-content: center;
    border-radius: 0 0 10px 10px;
  }
  .nav-respo.open {
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
  }

  .hamburger {
    display: block;
  }
  .menus {
    flex-direction: column;
    padding-block: 1rem;
  }

  .hero-content h1 {
    font-size: 2rem;
  }

  .hero-content p {
    font-size: 1rem;
  }

  .cta-button {
    width: 100%;
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  #itemShow {
    grid-template-columns: auto auto auto;
  }
  .filters {
    position: static;
    left: auto;
  }

  .prod-left {
    border: none;
    display: none;
  }
  .portrait {
    display: none;
  }
  .prod-right {
    width: 100%;
    border: none;
    padding: 0;
  }
}
@media (max-width: 580px) {
  #itemShow {
    grid-template-columns: auto;
  }
  .nav-menu {
    height: 4rem;
    padding-block: 0.5rem;
  }
  .nav-respo {
    top: 4rem;
  }

  .search-item {
    display: none;
    position: absolute;
    top: 4rem;
    left: 0;
    width: 100%;
    justify-content: center;
  }
  .search-bar {
    width: 70%;
    padding-left: 15px;
  }

  .search-item.open {
    display: flex;
  }

  .search-icon {
    display: block;
  }

  .prod-cont {
    margin-top: 4rem;
  }
}
