.cart-box {
  width: 100%;
}

.content {
  margin: 5rem 7.5%;
  border: 2px solid #fff;
  box-shadow: 0 0 10px;
  border-radius: 1rem;
  background-color: #fff;
}

.about-product {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
.product-img {
  text-align: center;
  width: 50%;
  cursor: zoom-in;
  overflow: hidden;
  border-radius: 1rem;

  img {
    width: 80%;
    transition: 0.3s ease-in;
    object-fit: cover;
    cursor: zoom-in;
    &:hover {
      transform: scale(1.5);
    }
  }
}

.prod-ablity{
  margin-block: 1rem;
  line-height: 2;
}
.description {
  width: 50%;
  line-height: 1.5;
}
.price {
  margin-block: 1rem;
  line-height: 2;
}
.lessPrice {
  color: red;
}

.quantity-control {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-block: 1rem;
  button {
    padding-inline: 10px;
    font-size: 1.5rem;
  }
}

hr {
  margin-block: 1rem;
}

@media screen and (max-width: 1024px) {
  .about-product {
    flex-direction: column;
  }
  .product-img {
    text-align: center;
    width: 100%;
    img {
      width: 70%;
    }
  }

  .description {
    width: 100%;
    line-height: 2;
  }
}
